main {
    border: 2px solid red;

    .col {
        margin-top: 1em;
        border: 2px solid red;
        width: 25%;
        color: red;
        text-align: center;
        background-color: grey;
        border-radius: 10px;

        &:hover,
        &:focus {
            background-color: yellow;
    }

    }
}


.row-table {
    width: 85%;
    margin: 0 auto;
    
    //margin-top: 7em;
    
}


table {
    width: 85%;
    min-height: 400px;;
    margin: 0 auto;
    border-spacing: 0.5em;
    border: 2px solid black;
    font-family: 'Bungee Inline', cursive;

}


td {
    padding: 1em;
    text-align: center;
    
    input {
        width: 90%;
        height: 50px;
        text-align: center;
        font-family: 'Bungee Inline', cursive;
        font-size: large;

    }

    &:hover,
    &:focus {
        background-color: yellow;
    }
}

.special-padding {
    padding: 0.3em;
}

.operator {
    background-color: white;
}

.num {
    background-color: red;
}

@media (min-height: 800px) {
    .row-table {
        
        margin-top: 9em;
        
    }
    
}

@media (min-height: 1000px) {
    .row-table {
        
        margin-top: 11em;
        
    }
    
}

@media (min-height: 1200px) {
    .row-table {
        
        margin-top: 13em;
        
    }
    
}