$nav-item-color: red;

nav {
    margin: 0 auto;;
    background-color: gray;
    color: $nav-item-color;
    width: 100%;
    font-family: 'Montez', cursive;
    font-weight: bold;
    letter-spacing: 0.2em;;

    

    .col-big {
        width: 50%;
        display: flex;
        align-items: center;
        
    }

    .col-small {
        width: 25%;
        justify-content: flex-end;;
        display: flex;
        align-items: center;
        
        
    }


}

@media (min-width: 750px) {
    .nav {
        font-size: 21px;
        font-weight: bolder;
    }
    
}

@media (min-width: 750px) {
    .nav {
        font-size: 30px;
        font-weight: bolder;
    }
    
}
